version: 3.0.43.{build}
image:
  - Ubuntu1604
  - Visual Studio 2015
for:
-
  matrix:
    only:
      - image: Ubuntu1604
  init:
    - export CXX=g++-9 CC=gcc-9
pull_requests:
  do_not_increment_build_number: true
clone_depth: 1
environment:
  VCDIR: C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\
  BOOST_ROOT: C:\Libraries\boost_1_60_0
  BOOST_LIBRARYDIR: C:\Libraries\boost_1_60_0\lib32-msvc-14.0
  BOOST_INCLUDEDIR: C:\Libraries\boost_1_60_0
install:
- sh: sudo apt -y install libboost-filesystem-dev libboost-iostreams-dev libboost-system-dev zlib1g-dev
- sh: sudo apt -y install debhelper build-essential devscripts fakeroot
- cmd: >-
    appveyor DownloadFile https://github.com/madler/zlib/archive/v1.2.8.zip -FileName zlib-1.2.8.zip

    7z x zlib-1.2.8.zip > NUL

    cd zlib-1.2.8

    md build

    cd build

    cmake -DCMAKE_SHARED_LINKER_FLAGS="/NODEFAULTLIB:MSVCRT" -DCMAKE_C_FLAGS_RELEASE="/MT /O2 /Ob2 /D NDEBUG" ..

    cmake --build . --config Release --target zlibstatic

    copy zconf.h ..

    cd ..

    cd ..
build_script:
- cmd: >-
    "%VCDIR%"\vcvarsall.bat

    cmake -G "Visual Studio 14" -DBOOST_ROOT="%BOOST_ROOT%" -DBOOST_LIBRARYDIR="%BOOST_LIBRARYDIR%" -DBOOST_INCLUDEDIR="%BOOST_INCLUDEDIR%" -DZLIB_LIBRARY=%APPVEYOR_BUILD_FOLDER%\zlib-1.2.8\build\Release\zlibstatic.lib -DZLIB_INCLUDE_DIR=%APPVEYOR_BUILD_FOLDER%\zlib-1.2.8 .

    cmake --build . --config Release
- sh: cmake .
- cmake --build . --config Release
after_build:
- cmd: >-
    SET PATH=%PATH%;"C:/Program Files (x86)/WiX Toolset v3.11/bin"

    candle v8unpack.wxs

    light -out v8unpack-%APPVEYOR_BUILD_VERSION%.msi v8unpack.wixobj

    choco pack

- sh: debuild -us -uc && mv -t . ../v8unpack*.deb

artifacts:
- path: Release\*.exe
  name: v8unpack
- path: v8unpack*.nupkg
- path: v8unpack-*.msi
  name: installer
- path: v8unpack*.deb
  name: installer-deb
deploy: off
